.cart-page {
  padding: 30px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 15px;
}

.thumb {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.info { flex: 1; }

.remove-btn {
  background: #ff3d3d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.cart-total {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.checkout-btn {
  margin-top: 10px;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  width: 100%;
  border-radius: 8px;
}
